# Environment variables
.env

# Virtual Environment
venv/
env/
.venv/

# Python cache files
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# Distribution / packaging
dist/
build/
*.egg-info/

# IDE specific files

# Deprecated files
/deprecated
.idea/
.vscode/
*.swp
*.swo

# OS specific files
.DS_Store
Thumbs.db